
.bdy{
    height: 100vh;
    background-color: #7fffd4;
    display: flex;  
    border:2px solid red;
}
.top{
    display: flex;
    height: 50vh;
    border:2px solid silver;
    width: 100%;
}
.left{
   border:2px solid green;
   height: 50vh;
   width: 50%;
}
.right{
    border: 2px solid blue;
    height: 50vh;
    width: 50%;
}